<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded font-weight-bold">
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <h4 class="mb-0">
                <a class="nav-link py-0 px-4" th:href="@{/}">
                    <span class="text-primary">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </span>
                    <span class="text-dark">Timetable</span>
                </a>
            </h4>
            <ul class="navbar-nav px-4">
                <th:block th:if="${#authentication.getPrincipal() == 'anonymousUser'} or ${#authentication.getPrincipal().getPasswordUpdatedDate() != null}">
                    <li class="nav-item">
                        <div class="dropdown nav-link">
                            <span class="dropdown-toggle text-dark" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                <th:block th:text="#{nav.timetable}"/>
                            </span>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" sec:authorize="hasAuthority('ADMIN')">
                                    <a class="nav-link text-dark p-0" th:href="@{/schedule/generate}">
                                        <th:block th:text="#{nav.generateTimetables}"/>
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark p-0" th:href="@{/schedule/list/students}">
                                        <th:block th:text="#{nav.studentTimetable}"/>
                                    </a>
                                </li>
                                <li class="dropdown-item" sec:authorize="isAuthenticated()">
                                    <a class="nav-link text-dark p-0" th:href="@{/teacher/timetables}">
                                        <th:block th:text="#{nav.teacherTimetable}"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item border-start border-secondary" sec:authorize="isAnonymous()">
                        <a class="nav-link text-dark" th:href="@{/user/login}">
                            <th:block th:text="#{nav.login}"/>
                        </a>
                    </li>
                    <li class="nav-item border-start border-secondary" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link text-dark" th:href="@{/teacher/create}">
                            <th:block th:text="#{nav.teachers}"/>
                        </a>
                    </li>
                    <li class="nav-item border-start border-secondary" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link text-dark" th:href="@{/specialty/create}">
                            <th:block th:text="#{nav.specialties}"/>
                        </a>
                    </li>
                    <li class="nav-item border-start border-secondary" sec:authorize="isAuthenticated()">
                        <a class="nav-link text-dark" th:href="@{/subject/list}">
                            <th:block th:text="#{nav.subjects}"/>
                        </a>
                    </li>
                </th:block>
                <li class="nav-item"
                    th:classappend="${#authentication.getPrincipal() == 'anonymousUser'} or ${#authentication.getPrincipal().getPasswordUpdatedDate() != null} ? 'border-start border-secondary' : ''"
                    sec:authorize="isAuthenticated()">
                    <form th:action="@{/user/logout}" th:method="POST">
                        <button class="nav-link border-0 bg-transparent text-dark">
                            <th:block th:text="#{nav.logout}"/>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>