<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="register">
    <hr class="hr-2 w-50 border-top border-primary border-2 mx-auto opacity-50" style="margin-top:10rem;">
    <h1 class="text-center text-dark pb-2 fst-italic fw-normal" th:text="#{passwordUpdate.title}"></h1>
    <form class="form" th:action="@{/user/password/update}" th:method="POST" th:object="${updatePasswordData}">
        <div class="w-25 mx-auto">
            <div class="form-group">
                <input type="password"
                       class="form-control"
                       name="oldPassword"
                       th:field="*{oldPassword}"
                       th:placeholder="#{passwordUpdate.oldPassword}">
            </div>
            <div class="form-group mt-3">
                <input type="password"
                       class="form-control"
                       name="newPassword"
                       th:field="*{newPassword}"
                       th:placeholder="#{passwordUpdate.newPassword}">
                <span class="text-danger fst-italic"
                   th:if="${#fields.hasErrors('newPassword')}"
                   th:each="error : ${#fields.errors('newPassword')}"
                   th:text="${error}"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')} ? mt-2 : mt-3">
                <input type="password"
                       class="form-control"
                       name="confirmPassword"
                       th:field="*{confirmPassword}"
                       th:placeholder="#{passwordUpdate.confirmPassword}">
            </div>
        </div>
        <div class="button-holder d-flex justify-content-center mt-2">
            <button type="submit" class="btn btn-primary" th:text="#{passwordUpdate.change}"></button>
        </div>
    </form>
    <hr class="hr-2 w-50 border-bottom border-primary border-2 mx-auto opacity-50" style="margin-bottom:11.3rem;">
</th:block>