<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="scheduleItem">
    <div style="font-weight:bold;"
         th:text="${@resourceBundleUtil.getMessage(course.subjectType.abbreviation,language)} + ' ' + ${language == 'bg' ? course.subjectNameBg : course.subjectNameEn}">
    </div>
    <div style="font-weight:bold;display:flex;justify-content:center;" th:if="${course.week.name != 'ALL' or (course.startWeek != null and course.endWeek != null)}">
        <span th:if="${course.week.name != 'ALL'}"
              th:with="courseWeek=${@resourceBundleUtil.getMessage(course.week.key,language)}"
              th:text="${#strings.toLowerCase(courseWeek)}">
        </span>
        <span th:if="${course.week.name != 'ALL' and course.startWeek != null and course.endWeek != null}" th:style="${pdfView != null ? 'padding-top: 2px;' : ''}">(</span>
        <span th:if="${course.startWeek != null and course.endWeek != null}"
              th:style="${pdfView != null ? 'padding-top: 3px;' : ''}"
              th:text="${course.startWeek} + '-' + ${course.endWeek}">
        </span>
        <span th:if="${course.week.name != 'ALL' and course.endWeek != null and course.endWeek != null}" th:style="${pdfView != null ? 'padding-top: 2px;' : ''}">)</span>&nbsp;
        <span th:text="${@resourceBundleUtil.getMessage('scheduleList.week',language)}"></span>
    </div>
    <div th:text="${language == 'bg' ? course.teacherNameBg : course.teacherNameEn}"></div>
    <div th:text="${language == 'bg' ? course.roomNumberBg : course.roomNumberEn}"></div>
</th:block>