<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="studentItem">
    <div th:style="${pdfView != null ? 'margin-top:9rem;' : ''}">
        <table style="border-collapse:collapse;width:100%;" th:object="${scheduleCourse}">
            <tbody th:with="language=*{degree.language}">
                <tr style="text-align:center;font-weight:bold;">
                    <td rowspan="3" th:unless="*{groups.first().id == -1}" style="border:2px solid black;"></td>
                    <td colspan="8" th:text="*{year}" style="padding:8px 2px;border:2px solid black;"></td>
                    <th:block th:with="semester=*{@resourceBundleUtil.getMessage(semester.key,degree.language)}">
                        <td colspan="8" th:text="${#strings.toUpperCase(semester)}" style="padding:8px 2px;border:2px solid black;"></td>
                    </th:block>
                    <td rowspan="2" colspan="20" th:text="${@resourceBundleUtil.getMessage('scheduleList.itemTitle',language)}" style="padding:8px 2px;border:2px solid black;vertical-align:middle;"></td>
                    <td colspan="8" th:text="${language == 'bg'} ? *{departmentNameBg} : *{departmentNameEn}" style="padding:8px 2px;border:2px solid black;"></td>
                    <td colspan="4" th:text="${language == 'bg'} ? *{specialtyNameBg} : *{specialtyNameEn}" style="padding:8px 2px;border:2px solid black;"></td>
                    <td colspan="8" th:text="*{@resourceBundleUtil.getMessage(degree.key,degree.language)}" style="padding:8px 2px;border:2px solid black;"></td>
                </tr>
                <tr style="text-align:center;">
                    <td colspan="8" th:text="${@resourceBundleUtil.getMessage('scheduleList.schoolYear',language)}" style="padding:8px 2px;border:2px solid black;"></td>
                    <td colspan="8" th:text="${@resourceBundleUtil.getMessage('scheduleList.semester',language)}" style="padding:8px 2px;border:2px solid black;"></td>
                    <td colspan="8" th:text="${@resourceBundleUtil.getMessage('scheduleList.department',language)}" style="padding:8px 2px;border:2px solid black;"></td>
                    <td colspan="4" th:text="${@resourceBundleUtil.getMessage('scheduleList.specialty',language)}" style="padding:8px 2px;border:2px solid black;"></td>
                    <td colspan="4" th:text="*{courseYear} + ' ' + ${@resourceBundleUtil.getMessage('scheduleList.course',language)}" style="padding:8px 2px;border:2px solid black;font-weight:bold;"></td>
                    <td colspan="4" th:text="*{@resourceBundleUtil.getMessage(mode.key,degree.language)}" style="padding:8px 2px;border:2px solid black;font-weight:bold;"></td>
                </tr>
                <tr style="text-align:center;vertical-align:middle;">
                    <td colspan="4" th:text="${@resourceBundleUtil.getMessage('scheduleList.dayTime',language)}" style="padding:8px 2px;border:2px solid black;"></td>
                    <td colspan="4"
                        style="padding:8px 0px;border:2px solid black;"
                        th:each="h : ${#numbers.sequence(7,19)}">
                            <th:block th:text="${h}"></th:block><sup>15</sup>
                            -
                            <th:block th:text="${h + 1}"></th:block><sup>00</sup>
                    </td>
                </tr>
                <th:block th:each="dayOfWeek,dayOfWeekRowStat: ${daysOfWeek}">
                    <tr th:each="group,groupRowStat: *{groups}" th:with="counter=0" style="text-align:center;">
                        <td th:text="${group.name} + ' ' + ${@resourceBundleUtil.getMessage('scheduleList.group',language)}"
                            th:unless="${group.id == -1}"
                            th:style="'vertical-align:bottom;padding:20px 8px 8px 8px;border-left:2px solid black;border-right:2px solid black;border-top:0px;' + ${groupRowStat.last ? 'border-bottom: 2px solid black;' : 'border-bottom: 1px solid black;'}">
                        </td>
                        <td colspan="4"
                            th:rowspan="*{groups.size}"
                            style="transform:rotate(270deg);vertical-align:middle;padding:3rem 0rem;border:2px solid black;"
                            th:if="${groupRowStat.index == 0}"
                            th:text="${@dayOfWeekUtil.getDay(dayOfWeek,language)}"></td>
                        <th:block th:each="h,hourRowStat : ${#numbers.sequence(7,19)}">
                            <th:block th:each="m,minuteRowStat : ${#numbers.sequence(15,60,15)}"
                                      th:with="time=${h + m / 60} + ':' + ${m % 60}">
                                <th:block th:each="course: ${scheduleCourse.schedules.get(time)}"
                                          th:with="colSpan=${((course.getEndTime().getHour() * 60 + course.getEndTime().getMinute()) - ((h + m / 60) * 60 + (m % 60))) / 15}">
                                    <td th:if="${course.day == dayOfWeek and ((course.group == null and groupRowStat.index == 0) or group.id == course.group?.id)}"
                                        th:colspan="${colSpan}"
                                        th:rowspan="${course.group == null and groupRowStat.index == 0} ? *{groups.size} : 1"
                                        th:style="'vertical-align:middle;border:2px solid black;padding:0.25rem;background-color:' + ${course.hexColor}"
                                        th:with="counter=${@counterUtil.setNum(colSpan)}">
                                            <a th:href="@{/schedule/edit/{scheduleId}(scheduleId=${course.id})}"
                                               style="text-decoration:none;color:black;"
                                               th:unless="${disableEdit}">
                                                <th:block th:include="~{schedule/studentItemContent}"></th:block>
                                            </a>
                                            <th:block th:if="${disableEdit}" th:include="~{schedule/studentItemContent}"></th:block>
                                    </td>
                                    <th:block th:if="${course.day == dayOfWeek and course.group == null and groupRowStat.index > 0}"
                                              th:with="counter=${@counterUtil.setNum(colSpan)}">
                                    </th:block>
                                </th:block>
                                <td th:unless="${@counterUtil.getAndDecrement() > 0}"
                                    th:style="'padding:0.25rem;border-left:0px;' + ${m % 60 == 0 ? 'border-right:2px solid black;' : 'border-right:1px dotted black;'}
                                        + ${groupRowStat.last ? 'border-bottom: 2px solid black;' : 'border-bottom: 1px solid black;'}">
                                </td>
                            </th:block>
                        </th:block>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</th:block>