<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="courseForm">
    <div class="form-group my-3">
        <h3 class="text-dark" th:text="#{createCourse.title}"></h3>
        <hr class="hr-2 border-top border-primary border-2 mx-auto opacity-50 mt-0">
        <div class="course-wrapper" th:each="course,rowStat : ${createSubjectData.courses}">
            <div class="row text-end text-danger h2">
                <i role="button" class="fa-solid fa-circle-xmark"></i>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.degree} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select degree-select" th:field="*{courses[__${rowStat.index}__].degree}" disabled="disabled">
                        <option th:each="degree : ${degrees}"
                                th:value="${degree.name}"
                                th:text="${@resourceBundleUtil.getMessage(degree.key)}">
                        </option>
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.mode} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select mode-select" th:field="*{courses[__${rowStat.index}__].mode}" disabled="disabled">
                        <option th:each="courseMode : ${courseModes}"
                                th:value="${courseMode.name}"
                                th:text="${@resourceBundleUtil.getMessage(courseMode.key)}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.faculty} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select faculty-select-disabled" th:field="*{courses[__${rowStat.index}__].facultyId}" disabled="disabled">
                        <option th:each="faculty : ${facultyList}"
                                th:value="${faculty.id}"
                                th:text="${faculty.nameBg}">
                        </option>
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.week} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select week-select" th:field="*{courses[__${rowStat.index}__].week}" disabled="disabled">
                        <option th:each="courseWeek : ${courseWeeks}"
                                th:value="${courseWeek.name}"
                                th:text="${@resourceBundleUtil.getMessage(courseWeek.key)}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.department} + ':'"></span>
                </div>
                <div class="col">
                    <input class="department-id" type="hidden" th:value="${course.departmentId}">
                    <select class="form-select department-select-disabled" th:field="*{courses[__${rowStat.index}__].departmentId}" disabled="disabled">
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.startWeek} + ':'"></span>
                </div>
                <div class="col">
                    <input type="number" class="form-control start-week"
                           th:field="*{courses[__${rowStat.index}__].startWeek}"
                           readonly="readonly"/>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.specialty} + ':'"></span>
                </div>
                <div class="col">
                    <input class="specialty-id" type="hidden" th:value="${course.specialtyId}">
                    <select class="form-select specialty-select-disabled" th:field="*{courses[__${rowStat.index}__].specialtyId}" disabled="disabled">
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.endWeek} + ':'"></span>
                </div>
                <div class="col">
                    <input type="number" class="form-control end-week"
                           th:field="*{courses[__${rowStat.index}__].endWeek}"
                           readonly="readonly"/>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.year} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select year-select" th:field="*{courses[__${rowStat.index}__].year}" disabled="disabled">
                        <option th:each="courseYear : ${courseYears}"
                                th:value="${courseYear.name}"
                                th:text="${courseYear.name}">
                        </option>
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.hoursPerWeek} + ':'"></span>
                </div>
                <div class="col">
                    <input type="number" class="form-control hours-per-week"
                           th:field="*{courses[__${rowStat.index}__].hoursPerWeek}"
                           readonly="readonly"/>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.room} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select room-select" th:field="*{courses[__${rowStat.index}__].roomId}" disabled="disabled">
                        <option th:each="room : ${rooms}"
                                th:value="${room.id}"
                                th:text="${room.numberBg}">
                        </option>
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.meetingsPerWeek} + ':'"></span>
                </div>
                <div class="col">
                    <input type="number" class="form-control meetings-per-week"
                           th:field="*{courses[__${rowStat.index}__].meetingsPerWeek}"
                           readonly="readonly"/>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.teacher} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select teacher-select" th:field="*{courses[__${rowStat.index}__].teacherId}" disabled="disabled">
                        <option th:each="teacher : ${teachers}"
                                th:value="${teacher.id}"
                                th:text="${teacher.academicRank} + ' ' + ${teacher.firstName} + ' ' + ${teacher.lastName}">
                        </option>
                    </select>
                </div>
            </div>
            <th:block th:with="groups=*{courses[__${rowStat.index}__].groups}">
                <div class="groups-flex d-flex"  th:if="${groups} != null and ${groups.size} > 0">
                    <div class="fw-bold">
                        <span th:text="#{createCourse.group} + ':'"></span>
                    </div>
                    <div class="groups-wrapper d-flex">
                        <input type="text" class="form-control group ms-3"
                               th:each="group, row : ${groups}"
                               th:name="'courses[' + ${rowStat.index} + '].groups[' + ${row.index} + ']'"
                               th:value="${group}"
                               readonly="readonly"
                               style="width:50px;"/>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="new-course-wrapper">
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.degree} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select degree-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].degree'">
                        <option th:each="degree : ${degrees}"
                                th:value="${degree.name}"
                                th:text="${@resourceBundleUtil.getMessage(degree.key)}">
                        </option>
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.mode} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select mode-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].mode'">
                        <option th:each="courseMode : ${courseModes}"
                                th:value="${courseMode.name}"
                                th:text="${@resourceBundleUtil.getMessage(courseMode.key)}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.faculty} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select faculty-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].facultyId'">
                        <option th:each="faculty : ${facultyList}"
                                th:value="${faculty.id}"
                                th:text="${faculty.nameBg}">
                        </option>
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.week} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select week-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].week'">
                        <option th:each="courseWeek : ${courseWeeks}"
                                th:value="${courseWeek.name}"
                                th:text="${@resourceBundleUtil.getMessage(courseWeek.key)}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.department} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select department-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].departmentId'">
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.startWeek} + ':'"></span>
                </div>
                <div class="col">
                    <input type="number" class="form-control start-week"
                           th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].startWeek'"/>
                    <p class="text-danger font-italic mb-0 d-none start-week-validation" th:text="#{createCourse.startWeekPositiveValidation}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.specialty} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select specialty-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].specialtyId'">
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.endWeek} + ':'"></span>
                </div>
                <div class="col">
                    <input type="number" class="form-control end-week"
                           th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].endWeek'"/>
                    <p class="text-danger font-italic mb-0 d-none end-week-validation" th:text="#{createCourse.endWeekBeforeStartValidation}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.year} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select year-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].year'">
                        <option th:each="courseYear : ${courseYears}"
                                th:value="${courseYear.name}"
                                th:text="${courseYear.name}">
                        </option>
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.hoursPerWeek} + ':'"></span>
                </div>
                <div class="col">
                    <input type="number" class="form-control hours-per-week"
                           th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].hoursPerWeek'"/>
                    <p class="text-danger font-italic mb-0 d-none hours-per-week-validation" th:text="#{createCourse.hoursPerWeekPositiveValidation}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.room} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select room-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].roomId'">
                        <option th:each="room : ${rooms}"
                                th:value="${room.id}"
                                th:text="${room.numberBg}">
                        </option>
                    </select>
                </div>
                <div class="col fw-bold">
                    <span th:text="#{createCourse.meetingsPerWeek} + ':'"></span>
                </div>
                <div class="col">
                    <input type="number" class="form-control meetings-per-week"
                           th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].meetingsPerWeek'"/>
                    <p class="text-danger font-italic mb-0 d-none meetings-per-week-validation" th:text="#{createCourse.meetingsPerWeekPositiveValidation}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold">
                    <span th:text="#{createCourse.teacher} + ':'"></span>
                </div>
                <div class="col">
                    <select class="form-select teacher-select" th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].teacherId'">
                        <option th:each="teacher : ${teachers}"
                                th:value="${teacher.id}"
                                th:text="${teacher.academicRank} + ' ' + ${teacher.firstName} + ' ' + ${teacher.lastName}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="groups-flex d-flex">
                <div class="fw-bold">
                    <span th:text="#{createCourse.group} + ':'"></span>
                </div>
                <div class="groups-wrapper d-flex">
                    <input type="text" class="form-control group ms-3"
                           th:name="'courses[' + ${#lists.size(createSubjectData.courses)} + '].groups[0]'"
                           style="width:50px;"/>
                </div>
                <div>
                    <button type="button" class="btn bg-success text-white create-group fw-bold ms-1">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <div>
                <p class="text-danger font-italic mb-0 d-none empty-group-validation" th:text="#{createCourse.emptyGroupNameValidation}" style="margin-left:4rem;"></p>
                <p class="text-danger font-italic mb-0 d-none group-exists-validation" th:text="#{createCourse.groupExistsValidation}" style="margin-left:4rem;"></p>
            </div>
            <div class="button-holder d-flex justify-content-center my-4">
                <button type="button" class="btn btn-outline-success create-course w-50 fw-bold" th:text="#{createCourse.add}"></button>
            </div>
        </div>
    </div>
    <script th:src="@{/js/specialtyLoader.js}"></script>
    <script th:src="@{/js/courseCreate.js}"></script>
    <script th:src="@{/js/groupCreate.js}"></script>
</th:block>